<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">2ndHand</a>

    <div class="collapse navbar-collapse d-flex justify-content-between">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/hand">Hand</a>
            </li>
        </ul>

        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="btn btn-success" href="/posts/new">New Post</a>
            </li>
        </ul>

        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/signup">Sign Up</a>
            </li>


        </ul>
    </div>
</nav>