<h1>home.hbs</h1>

<a href="/posts/new">New Post</a>
<<<<<<< HEAD
<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
        <ul>
      {{#each posts}}
        <li class="list-group-item">
          <div class="lead">{{posts.title}}</div>
        </li>
      {{/each}}
    </ul>
  </div>
</div>
=======

>>>>>>> 01fce7e5e86eb96b10dbc2ac5c4a203fdfc12931
