<div class="container">
<div class="row">
  <div class="col-sm">
    <ul>
      {{#each posts}}

        <div class="card" style="width: 20rem;">
          <img class="card-img-top" src="..." alt="">
          <div class="card-body">
            <div class="lead"><a href="/posts/{{this._id}}">{{this.title}}</a></div>
            
          </div>

        </div>
      {{/each}}

    </ul>
  </div>
  </div>
</div>