<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <ul>
      {{#each posts}}
        <li class="list-group-item">
<<<<<<< HEAD
          <div class="lead">{{posts.title}}</div>
=======
          <div class="lead">{{this.title}}</div>
>>>>>>> 01fce7e5e86eb96b10dbc2ac5c4a203fdfc12931
        </li>
      {{/each}}
    </ul>
  </div>
</div>
