<div class="modal-dialog modal-dialog-top">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Sign Up</h5>
            {{!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> --}}
        </div>
        <div class="modal-body d-flex justify-content-center">
            <form action="/signup" method="post">
            <label for="">Username</label>
            <input type="text" name="username" class="form-control" id="username" placeholder="username" />
            <br>
            <label for="">Password</label>
            <input type="password" name="password" class="form-control" id="password" placeholder="password"/>
            
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" href="/signup">Sign Up</button>
            <a class="btn btn-danger" href="/">Close</a>
        </div>
        </form>
    </div>
</div>